spring:
  cloud:
    gateway:
      routes:
        - id: USERS-API
          uri: localhost:8081
          predicates:
            - Path=/users/** #first letter must be a capital letter
  application:
    name: API-GATEWAY
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
server:
  port: 8989
